.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.641);
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal {
	background: white;
	border-radius: 4px;
	padding: 30px;
}

.basket__empty {
	margin-block: 100px;
}

.mobile__basket__container {
	min-height: 200px;
	margin-block: 20px;
}

/* .basket-dog-card {
	display: flex;
	align-items: center;
	gap: 4px;
	margin-block: 10px;
} */

/* infomodal */

.infomodal-header {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.info-breed {
	font-size: 1.2rem;
}

.info-desc {
	font-size: 1.1rem;
}
