.dog-cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 60%;
	background-color: #fff;
	box-shadow: 10px 20px 30px #1265a133;
	border-radius: 10px;
}

.dog-card {
	position: relative;
	padding: 10px;
}

.image-container {
	position: relative;
	width: 300px;
	height: 200px;
	cursor: pointer;
}

.desc {
	position: absolute;
	top: 5px;
	left: 5px;
	color: black;
	transition: 0.3s;
}

.dog-card img {
	width: 100%;
	height: 200px;
	border-radius: 10px;
	transition: filter 0.3s ease;
}

@media (max-width: 570px) {
	.dog-card {
		width: 100%;
		height: auto;
	}
	.image-container {
		width: 100%;
		height: auto;
	}

	/* .description {
		width: 90%;
		height: 200px;
	} */
}

.description {
	position: absolute;
	width: 95%;
	top: 106px;
	height: 200px;
	padding: 5px;
	opacity: 0;
	background-color: #00000096;
	transition: opacity 0.3s ease;
	border-radius: 10px;
}

.mobile {
	opacity: 1;
	bottom: 81px;
	/* position: absolute;
	bottom: 61px;
	width: 94%;
	height: 200px;
	padding: 5px;
	background-color: #00000096;
	transition: opacity 0.3s ease;
	border-radius: 10px; */
}

.info-btn {
	display: none;
}

.card-buttons {
	display: flex;
	gap: 5px;
}

.description:hover {
	opacity: 1;
}

@media (hover: none) {
	.info-btn {
		display: block;
	}
}

.infomodal-container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.443);
}

.infomodal {
	background-color: aliceblue;
	border-radius: 4px;
	padding: 20px;
	z-index: 10;
}

.infomodal img {
	width: 200px;
	height: 100px;
	border-radius: 4px;
}
