/* font import */
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap");

/* global styles (App.jsx)*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	background: linear-gradient(45deg, #eaf2d6 0%, rgba(225, 5, 34, 0) 70%) repeat
			scroll 0% 0%,
		linear-gradient(135deg, #ea9ab3 10%, rgba(49, 5, 209, 0) 80%) repeat scroll
			0% 0%,
		linear-gradient(225deg, #efcee3 10%, rgba(10, 219, 216, 0) 80%) repeat
			scroll 0% 0%,
		rgba(0, 0, 0, 0)
			linear-gradient(315deg, #ea9ab1 100%, rgba(9, 245, 5, 0) 70%) repeat
			scroll 0% 0%;
	font-family: "Maven Pro", sans-serif;
}

h1,
h2,
h3,
h4 {
	margin: 0;
	padding: 0;
}

button {
	background-color: #ea9ab1;
	border: 1px solid #b06a7e;
	border-radius: 4px;
	padding: 5px;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	cursor: pointer;
}

button:hover {
	background-color: #d88aa0;
}

.container {
	opacity: 1;
	animation: page-opacity-load 3s normal;
	transition: cubic-bezier(1, -1.11, 1, 0.85);
}

@keyframes page-opacity-load {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.shop {
	display: flex;
	justify-content: space-around;
}

.box {
	width: 50px;
	height: 50px;
	background-color: aqua;
	margin-bottom: 5px;
}
